// 功能描述: 
// 创建时间: 2023年 12月 18日

$forumPaddingTop: 60px;
$forumMainMarginTop: 20px;
// 面板总宽度
$forumWidth: 1200px;
// 面板间距
$forumContentAndLabelBetween: 30px;
// 论坛内容宽度
$forumContentWidth: 700px;
// 左部导航栏的宽度
$forumNavWidth: 200px;
// 右部标签的宽度
$forumTagWidth: 240px;
$forumBorderRadius: 4px;
// 盒子阴影
$forumBoxShadow: 2px 2px 8px 1px #00000030;

$forumBackgroundColor: #343a47e8;
$forumHoverBackgroundColor: #3e4453e8;
$forumBorderColor: #6a6a6a;
$forumBackdropBlurFilter: blur(3px);

// 导航栏样式
$navTextColor: #b0b0b0;
$navActiveTextColor: #eeeeee;
$nacActiveBackgroundColor: #6b789878;

// 内容样式
$imageBackgroundColor: #252a3596;
$noteInfoTextColor: #838383;
$forumContentItemBorderColor: #77777724;

// 标签样式
$labelHeaderTextColor: $navTextColor;